certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
decorator==4.4.0
expyriment==0.9.0
future==0.18.1
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
mediadecoder==0.1.5
moviepy==1.0.1
numpy==1.17.3
Pillow==6.2.0
proglog==0.1.9
pycparser==2.19
pygame==1.9.6
PyOpenGL==3.1.0
pyparallel==0.2.2
pyserial==3.4
requests==2.22.0
sounddevice==0.3.14
tqdm==4.36.1
urllib3==1.25.6
