Source: python-expyriment
Section: science
Priority: extra
Maintainer: Oliver Lindemann <oliver.lindemann@uni-potsdam.de>
Build-Depends: debhelper (>= 8.0.0), python-support, python-all, python-sphinx
Standards-Version: 3.9.3
Homepage: http://www.expyriment.org

Package: python-expyriment
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.6), python-support (>= 0.90.0), python-pygame (>= 1.9.1~),  python-opengl (>= 3.0.0), ttf-freefont
Recommends: python-serial (>= 2.5~), python-parallel (>= 0.2), python-numpy (>= 1.3.0~)
Description: Python library for cognitive and neuroscientific experiments
 Expyriment is a light-weight Python library for designing and conducting
 timing-critical behavioural and neuroimaging experiments. The major goal is
 to provide a well-structured Python library for a script-based experiment
 development with a high priority on the readability of the resulting
 programme code. Due to the availability of an Android runtime environment,
 Expyriment is also suitable for the development of experiments running on
 tablet PCs or smart-phones.
